<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybaits.org//DTD Mapper 3.0//EN"
        "http://mybaits.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TagMapper">
    <select id="getAllTag" resultType="com.example.pojo.Tag">
        select * from tag
    </select>

    <delete id="deleteBlog2Tag" parameterType="int">
            DELETE FROM blog2tag WHERE `tagid`=#{id}
    </delete>

    <select id="selectBlogbyTagId" parameterType="int" resultType="int">
        SELECT `blogid`
        FROM `blog2tag`
        WHERE `tagid`=#{id}
    </select>

    <select id="getTagsByBlogId" parameterType="int" resultType="com.example.pojo.Tag">
        SELECT
        tag.*
        FROM
        blog2tag
        INNER JOIN
        tag
        ON
        blog2tag.tagid = tag.id
        INNER JOIN
        blog
        ON
        blog2tag.blogid = blog.id
        WHERE blog.id = #{id}
    </select>
</mapper>
